.outerQuote {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 4rem;
    width: 100%;
    text-overflow: break-word;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    letter-spacing: 10px;
    overflow-wrap: break-word;
    text-align: center;
}

.quote {
    margin: 0px 25px;
}

.height {
    height: 100%;
}

.quote:nth-child(even) {
    color: white;
    animation: colorChange 10s infinite ease-in-out;
    text-shadow: 0px 0px 10px black;
    font-size: 2.6rem;
}

.quote:nth-child(odd) {
    color: #000000;
    animation: colorChange2 10s infinite ease-in-out;
    text-shadow: 0px 0px 10px white;
    font-size: 3rem;
}

@keyframes colorChange {
    0% {
        color: white;
        text-shadow: 0px 0px 5px black;
    }
    50% {
        color: #000000;
        text-shadow: 0px 0px 5px white;
    }
    100% {
        color: white;
        text-shadow: 0px 0px 5px black;
    }
}

@keyframes colorChange2 {
    0% {
        color: #000000;
        text-shadow: 0px 0px 5px white;
    }
    50% {
        color: white;
        text-shadow: 0px 0px 5px black;
    }
    100% {
        color: #000000;
        text-shadow: 0px 0px 5px white;
    }
}