<div class="w100vw d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center background">
        <app-quote-box></app-quote-box>
    </div>


    <div class="w100vw">
        <div class="section w-100 box-height">
            <ngb-carousel class="box-height" *ngIf="images" [interval]="3000" [pauseOnHover]=true [pauseOnFocus]=true [showNavigationArrows]=true [showNavigationIndicators]=true>
                <ng-template ngbSlide *ngFor="let image of this.images">
                    <div class="picsum-img-wrapper blackBG d-flex justify-content-center w-100">
                        <img [src]="image" alt="Slide">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

    </div>
</div>