<mat-toolbar color="white">
    <div class="w-100 d-flex justify-content-between align-items-center">
        <div class="logo-container">
            <img src="assets/Images/Genius.png" alt="Genius" class="logo" />
        </div>
        <div class="links-container d-flex justify-content-between">
            <div class="link cursor">Home</div>
            <div class="link cursor">Services</div>
            <div class="link cursor">Products</div>
            <div class="link cursor">Contact</div>
        </div>
    </div>
</mat-toolbar>

<div class="w-100">
    <div class="container d-flex justify-content-center flex-column align-items-center" id="home">
        <app-home></app-home>
    </div>

    <div class="container d-flex justify-content-center flex-column align-items-center" id="services">
        <app-services></app-services>
    </div>

    <div class="container d-flex justify-content-center flex-column align-items-center" id="products">
        <app-products></app-products>
    </div>

    <div class="container d-flex justify-content-center flex-column align-items-center" id="contact">
        <app-contact></app-contact>
    </div>
</div>