.mat-toolbar.mat-toolbar.mat-white-ish.mat-toolbar-single-row {
    position: fixed;
    z-index: 1000;
}

.black {
    color: black;
    font-size: 35px;
}

.height-full {
    height: 100vh;
}

.links-mobile {
    position: fixed;
    /* top: 100px; */
    left: 0;
    z-index: -1;
    background-color: #c7c7c7;
}

@media (max-width:500px) {
    .links-container {
        display: none !important;
    }
    .links-container-mobile {
        display: block !important;
    }
}

@media (min-width:501px) {
    .links-container-mobile {
        display: none !important;
    }
}