.service {
    width: 160px;
    /* height: 160px; */
    padding: 5px;
    margin: 10px;
}

.service-image {
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px #4285F4;
    border-radius: 50%;
    /* animation-delay: 5s; */
}

.service-image:hover {
    animation: bring-color 1s linear infinite;
}

@keyframes bring-color {
    0% {
        box-shadow: 0px 0px 10px #4285F4;
    }
    50% {
        box-shadow: 0px 0px 20px #FBBC05;
    }
    100% {
        box-shadow: 0px 0px 10px #4285F4;
    }
}

.break-word {
    text-overflow: break-word;
}

.height100 {
    height: 80px;
}

.white {
    color: white;
    font-size: 18px;
    overflow-y: hidden;
    height: fit-content;
    padding: 5px;
}

.background {
    background-color: black;
    color: white;
    width: 100%;
    margin: 40px 0px;
    padding-top: 40px;
    height: fit-content;
    background-position: center;
    background-size: cover;
}

.padding-td-5 {
    padding: 10px 0;
}

.padding-td-30 {
    padding: 30px 0;
}

@media (max-width: 576px) {
    .onMobile {
        display: block !important;
    }
    .onDesktop {
        display: none !important;
    }
}

@media (min-width: 577px) {
    .onMobile {
        display: none !important;
    }
    .onDesktop {
        display: flex !important;
    }
}