/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
html,
body {
    height: 100%;
    background-color: #c7c7c7 !important;
}

body,
* {
    margin: 0;
    font-family: "Cabin", sans-serif;
    overflow-x: hidden;
}

.logo {
    width: 100px;
    height: auto;
}

.mat-white-ish {
    background-color: #c7c7c7;
}

.links-container {
    color: black;
}

.link {
    padding: 0px 10px;
    border-radius: 2px;
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

.link:hover {
    text-decoration: none;
    background-color: #dfe9ef;
}

.height-full {
    height: 100%;
}

.w100vw {
    width: 100vw;
}

.blackBG {
    background-color: black !important;
    border: 5px solid black;
}

.halfBG:hover {
    background-color: gray !important;
    border: 5px solid black;
    opacity: 0.5;
}

.carousel-inner {
    position: unset !important;
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: black;
}

a {
    color: rgb(95, 95, 95);
    text-decoration: underline rgb(112, 102, 102) !important;
}

.text-center {
    text-align: center;
}